<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group <%= if f.errors[:locale], do: "has-error" %>">
    <%= label f, :locale, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= text_input f, :locale, class: "form-control" %>
      <%= error_tag f, :locale %>
    </div>
  </div>

  <div class="form-group <%= if f.errors[:category], do: "has-error" %>">
    <%= label f, :category, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= text_input f, :category, class: "form-control" %>
      <%= error_tag f, :category %>
    </div>
  </div>

  <div class="form-group <%= if f.errors[:name], do: "has-error" %>">
    <%= label f, :name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= text_input f, :name, class: "form-control" %>
      <%= error_tag f, :name %>
    </div>
  </div>

<%= inputs_for f, :questions, fn q -> %>
  <div class="form-group <%= if q.errors[:text], do: "has-error" %>">
    <hr style="border-color: #aaa;"/>
    <%= label q, :text, "Question ##{q.index + 1}", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= text_input q, :text, class: "form-control" %>
      <%= error_tag q, :text %>
    </div>
  </div>

  <%= if q.model.id do %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><%= checkbox q, :delete %> Delete?</label>
        </div>
      </div>
    </div>
  <% end %>

  <%= inputs_for q, :answers, fn a -> %>
    <div class="form-group <%= if a.errors[:text], do: "has-error" %>">
      <%= label a, :text, "Answer ##{a.index + 1}", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= text_input a, :text, class: "form-control" %>
        <%= error_tag a, :text %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><%= checkbox a, :correct %> Correct</label>
        </div>
      </div>
    </div>

    <%= if a.model.id do %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><%= checkbox a, :delete %> Delete?</label>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
