<h2><%= @test.name %></h2>

<%= render "form.html", changeset: @changeset,
                        action: participation_path(@conn, :create) %>

<%= link "Back", to: participation_path(@conn, :index) %>
