<h2>Show particiapation</h2>

<ul>

  <li>
    <strong>Test:</strong>
    <%= @particiapation.test_id %>
  </li>

  <li>
    <strong>Valuation:</strong>
    <%= @particiapation.evaluation %>
  </li>

  <li>
    <strong>Mark:</strong>
    <%= @particiapation.mark %>
  </li>

</ul>

<%= link "Edit", to: particiapation_path(@conn, :edit, @particiapation) %>
<%= link "Back", to: particiapation_path(@conn, :index) %>
